body {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

#hello-heading {
  margin-top: 0;
}

#profile-pic {
  border-radius: 50%;
  max-width: 50%;
  min-width: 150px;
  height: auto;
}

#name-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

#subtitle p {
  margin: 0;
  color: dimgray;
}

#about-heading {
  margin-top: 30px;
  margin-bottom: 5px;
}

#about p {
  margin: 0;
  text-align: justify;
}

#social-links {
  margin-top: 30px;
  word-spacing: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
  font-size: x-small;
}

/* Automatic dark mode (based on user’s system settings) */
@media (prefers-color-scheme: dark) {
  body {
    color: lightgray;
    background: #2a2a2a;
  }

  #subtitle p {
    color: darkgray;
  }

  a:link {
    color: dodgerblue;
  }

  a:visited {
    color: mediumpurple;
  }
}