body {
  max-width: 500px;
  margin: auto;
  padding: 15px;
  text-align: center;
}

#hello-heading {
  margin-bottom: 50px;
}

#profile-pic {
  border-radius: 50%;
  max-width: 50%;
  min-width: 150px;
  height: auto;
}

#name-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

#subtitle p {
  margin: 10px;
  color: dimgray;
}

#subtitle svg {
  width: 1em;
  stroke: dimgray;
}

#about-heading {
  margin-top: 50px;
  margin-bottom: 5px;
}

#about p {
  margin: 0;
  text-align: justify;
}

#social-links {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

#social-links svg {
  width: 40px;
  fill: black;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-style: italic;
  font-size: x-small;
}

/* Automatic dark mode (based on user’s system settings) */
@media (prefers-color-scheme: dark) {
  body {
    color: lightgray;
    background: #2a2a2a;
  }

  #subtitle p {
    color: darkgray;
  }

  #subtitle svg {
    stroke: darkgray;
  }

  a:link {
    color: dodgerblue;
  }

  a:visited {
    color: mediumpurple;
  }

  #social-links svg {
    fill: white;
  }
}